<div class="account-pages my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="card">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 p-5">
                <div class="mx-auto mb-5">
                  <a routerLink="/account/login">
                    <img src="assets/images/sharpen.png" alt="" height="24" />
                    <h3 class="d-inline align-middle ml-1 text-logo">
                      SharpenSkill
                    </h3>
                  </a>
                </div>

                <h6 class="h5 mb-0 mt-4">Crée votre compte</h6>
                <p class="text-muted mt-1 mb-4">
                  crée votre compte pour y acceder à votre platforme
                </p>

                <form
                  class="authentication-form"
                  [formGroup]="signupForm"
                  (ngSubmit)="onSubmit()"
                  novalidate
                >
                  <!-- <app-ui-preloader [display]="loading"></app-ui-preloader> -->

                  <ngb-alert
                    type="danger"
                    *ngIf="error"
                    [dismissible]="false"
                    >{{ error }}</ngb-alert
                  >

                  <div class="form-group">
                    <label class="form-control-label">Nom</label>
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-user"></i>
                        </span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                        id="name"
                        placeholder="Entrer votre nom"
                      />

                      <div
                        *ngIf="submitted && f.name.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.name.errors.required">
                          Name is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-control-label">Prenom</label>
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-user"></i>
                        </span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                        id="name"
                        placeholder="Entrer votre Prenom"
                      />

                      <div
                        *ngIf="submitted && f.name.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.name.errors.required">
                          Prenom is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-control-label">Email</label>
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-envelope"></i>
                        </span>
                      </div>
                      <input
                        type="email"
                        class="form-control"
                        formControlName="email"
                        [ngClass]="{
                          'is-invalid': submitted && f.email.errors
                        }"
                        id="email"
                        placeholder="Entrer votre mail"
                      />
                      <div
                        *ngIf="submitted && f.email.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.email.errors.required">
                          Email is required
                        </div>
                        <div *ngIf="f.email.errors.email">
                          Email must be a valid email address
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-control-label">Password</label>
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-lock"></i>
                        </span>
                      </div>
                      <input
                        type="password"
                        formControlName="password"
                        [ngClass]="{
                          'is-invalid': submitted && f.password.errors
                        }"
                        class="form-control"
                        id="password"
                        placeholder="Entrer votre password"
                      />
                      <div
                        *ngIf="submitted && f.password.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.password.errors.required">
                          Password is required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary btn-block" type="submit">
                      Sign Up
                    </button>
                  </div>
                </form>
              </div>

              <div class="row">
                <div class="col-12">
                  <p class="pb-0"></p>
                </div>
              </div>

              <div class="col-lg-6 d-none d-md-inline-block">
                <div class="auth-page-sidebar">
                  <div class="overlay"></div>
                  <div class="auth-user-testimonial">
                    <p class="font-size-24 font-weight-bold text-white mb-1">
                      SharpenSkill!
                    </p>
                    <p class="lead">"You're way to Perfection"</p>
                    <p>-</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-muted">
              Avez-vous déjà un compte?
              <a
                routerLink="/account/login"
                class="text-primary font-weight-bold ml-1"
                >Login</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
