<admin-navbar></admin-navbar> <br /><br />
<div class="container mt-5">
  <h1 class="text-center">Ajouter les Questionnaires</h1>
  <div class="row">
    <div class="col-md-12">
      <form
        class="needs-validation"
        [formGroup]="questionForm"
        (ngSubmit)="addQuestions()"
        novalidate
      >
        <div class="form-group mb-3">
          <label for="validationCustom01">Question :</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                f?.question.touched && f?.question.invalid && f?.question.errors
            }"
            id="validationCustom01"
            placeholder="Entrer la question"
            formControlName="question"
          />
          <div
            *ngIf="f?.question.touched && f?.question.invalid"
            class="text-danger"
          >
            <small *ngIf="f.question.errors!.required"
              >Question est obligatoire.</small
            >
          </div>
        </div>
        <ng-container formGroupName="choix">
          <div class="form-group mb-3">
            <label for="validationCustom01">Choix:</label>
            <input
              type="text"
              class="form-control"
              id="validationCustom01"
              placeholder="reponse"
              formControlName="reponse"
            />
          </div>

          <div class="form-group mb-3">
            <label>Correct :</label>
            <select
              name=""
              id=""
              formControlName="correct"
              class="form-control"
            >
              <option value="true">true</option>
              <option value="false">false</option>
            </select>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
  <button type="submit" class="btn btn-outline-primary float-right">
    Enregistrer
  </button>
</div>

{{ this.questionForm?.value | json }}
