<admin-navbar></admin-navbar> <br /><br />
<form
  class="needs-validation"
  [formGroup]="chapitreForm"
  (ngSubmit)="addChapitre()"
  novalidate
>
  <div class="container mt-5">
    <h1 class="text-center">Ajouter les Chapitres</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mb-3">
          <label for="validationCustom01">label:</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                f?.label.touched && f?.label.invalid && f?.label.errors
            }"
            id="validationCustom01"
            placeholder="label"
            formControlName="label"
          />
          <div *ngIf="f?.label.touched && f?.label.invalid" class="text-danger">
            <small *ngIf="f.label.errors!.required"
              >Label est obligatoire.</small
            >
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="validationCustom01">Description:</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                f?.description.touched &&
                f?.description.invalid &&
                f?.description.errors
            }"
            id="validationCustom01"
            placeholder="Entrer la description"
            formControlName="description"
          />
          <div
            *ngIf="f?.description.touched && f?.description.invalid"
            class="text-danger"
          >
            <small *ngIf="f.description.errors!.required"
              >Le nom du formation est obligatoire.</small
            >
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="validationCustom01">Contenu:</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                f?.content.touched && f?.content.invalid && f?.content.errors
            }"
            id="validationCustom01"
            placeholder="Entrer le contenu du chapitre"
            formControlName="content"
          />
          <div
            *ngIf="f?.content.touched && f?.content.invalid"
            class="text-danger"
          >
            <small *ngIf="f.content.errors!.required"
              >Le contenu est obligatoire.</small
            >
          </div>
        </div>

        <div class="form-group mb-3">
          <label>Formation :</label>
          <select
            name=""
            id=""
            formControlName="id_formation"
            class="form-control"
            *ngFor="let forma of formation"
          >
            <option value="{{ forma.id }}">{{ forma.nomformation }}</option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-primary float-right">
      Enregistrer
    </button>
  </div>
</form>
